/* Colors
            light RGB: 158–174–206
                  RGB: 90–111–154
                  RGB: 45–68–113
                  RGB: 16–35–73
            Dark  RGB: 3–13–33
 */
body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: rgb(3, 13, 33);
  background-color: rgb(158,174,206);
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 900;
}

header {
  text-align: center;
  line-height: 1;
  box-sizing: border-box;
}

fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

main {
  width: 292px;
  margin: auto;
}

footer {
  text-align: center;
  border-top: 2px solid rgba(3, 13, 33, 1);
}

#button {
  text-align: center;
}

.h1 {
  font-size:  1.953rem;
  background-color: rgb(16,35,73);
  color: rgb(45,68,113);
  margin-top: 0;
  padding-top: 40px;
  height: 8.4375rem;
  text-shadow: -4px 2px 1px rgba(3, 13, 33, 1);
  box-sizing: border-box;
}

.h2 {
  font-size: 1.25rem;
}

.p {
  margin-top: -4px;
  margin-left: auto;
  margin-right: auto;
  width: 292px;
}

.contact-wrapper {
  border-top: 10px double black;
}

.newsletter-wrapper {
  margin-top: 10px;
  border-top: 5px solid black;
}

.contact_legend, .newsletter_legend {
  color: rgb(45,68,113);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.set-width {
  width: 280.4px;
}

.sign_up {
  height: 30px;
  width: 140px;
  border-radius: 10px;
  box-shadow: -4px 2px 1px rgba(3, 13, 33, 1);
  margin: 10px 0 15px;
}

/* Media Queries */

@media (min-width: 296px) {
}

@media (min-width: 768px) {

  .h1 {
    font-size: 3.052rem;
  }

  .contact {
    display: flex;
    margin: 5px;
  }

  .contact label {
    width: 120px;
  }

}
